.search-bar {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.search-bar input {
    flex-grow: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: #67c0ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}