#about-card-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
}

#about-card-container>section {
    flex: 0 0 calc(40% - 20px);
    margin: 10px;
    text-align: center;
}

.user-about-cards:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transform: scale(1.1);
  }